.empty_button {
    margin: 0;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    border: none;
    background: none;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    cursor: pointer;
    box-sizing: content-box;
    user-select: none;
}

.header_title {
}
