@use "./../../../../../css/sass.module" as *;

.header_div {
    transition: all 0.3s ease-in-out;
    &.dark {
        background-color: #001c35;

        .header_link,
        .menu_button {
            color: #f7f7f7 !important;

            font-weight: 400 !important;

            &.active {
                color: #f7f7f7 !important;
                border-color: #f7f7f7 !important;
            }
        }

        .account_div {
            color: #f7f7f7 !important;
        }
    }
}

.header_link {
    color: #3c454d;
}

.header_div {
    /* background-color: #c7ddf08a; */
    background-color: #bfddf8b9;
}

.header_div {
    width: 100svw;
    z-index: 10000;

    box-shadow: 0 2px 5px #2424241a;

    .main_div {
        display: grid;
        grid-template-areas: "menu links e account";
        grid-template-columns: 6rem auto auto 6rem;
        align-items: center;

        position: relative;

        margin: 0 8svw;

        height: 3rem;

        .menu_div {
            grid-area: menu;

            display: flex;
            gap: 1rem;

            position: relative;

            .menu_button {
                @extend .empty_button;

                display: flex;
                gap: 0.4rem;

                &:hover {
                    .menu_icon {
                        transform: rotate(360deg);
                    }
                }

                .menu_button_text {
                    font-weight: 500;
                }

                .menu_icon {
                    transition: all 0.3s ease-in-out;

                    font-size: 1.3rem;

                    font-variation-settings:
                        "FILL" 0,
                        "wght" 400,
                        "GRAD" 0,
                        "opsz" 40;
                }
            }

            .stripe {
                height: 2rems;
                width: 1px;

                background-color: #8c9297;
            }
        }

        .links_div {
            grid-area: links;

            display: flex;
            gap: 1rem;

            margin-left: 1rem;
        }

        .account_div {
            grid-area: account;

            .account_button {
                @extend .empty_button;

                display: flex;
                align-items: flex-end;
                gap: 0.5rem;

                .account_text {
                    font-weight: 500;
                }

                .account_icon {
                    font-size: 1.3rem;
                }
            }
        }
    }
}

.header_link {
    font-weight: 500;
    font-size: 1rem;

    border-bottom: 0.1rem solid transparent;

    &:hover {
        color: #000000;
    }

    &.active {
        color: #000000;

        border-color: #000000;
    }
}
