.input {
    font-size: 1.2rem;
    line-height: 1.1;

    padding: 0.3rem 0.6rem;

    width: 15rem;
}

.note {
    font-size: 0.8rem;
    line-height: 1.1;
    font-weight: 400;

    width: 15rem;
    color: #5e5e5e;

    margin-top: 0.2rem;
}
