@use "./../../../../../../css/buttons.module" as *;

.header_div {
    background-color: var(--darker1);
    height: auto;

    display: flex;
    justify-content: center;

    .main_div {
        flex-grow: 1;

        display: grid;
        grid-template-areas:
            "title e e1"
            "add e options"
            "e2 e2 filter";
        grid-template-columns: auto 1fr auto;
        row-gap: 0.5rem;

        margin: 0.5rem var(--header_margin) 1rem;
        max-width: 80rem;

        .title {
            grid-area: title;

            font-size: 1.5rem;
        }

        .add {
            grid-area: add;

            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 1rem;

            .stripe {
                height: 80%;
                width: 1px;

                background-color: #bdbdbd;
            }

            .auto_button {
                width: 14rem;
            }
        }

        .options {
            grid-area: options;

            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;

            .checkbox {
                background-color: var(--main_white);

                &:hover {
                    box-shadow: var(--h_sh);
                }

                > div:nth-child(2) {
                    width: min-content;

                    font-size: 0.9rem;
                    line-height: 1;
                }
            }
        }

        .filter {
            grid-area: filter;

            display: flex;
            align-items: center;
            gap: 0.5rem;

            font-size: 0.9rem;
            line-height: 1.05;

            .filter_button {
                @extend .bold_text_button;
            }
        }
    }
}
