.arrow_button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main_white);
    border: 0;
    color: #727272;

    font-size: 1.2rem;
    border-radius: 0.4rem;
    width: 2rem;

    transition: all 0.2s;

    &.disabled {
        color: var(--darker2);
        cursor: not-allowed;
    }

    &:not(.disabled):hover {
        background-color: var(--darker2);
        color: black;
        cursor: pointer;
    }
}

.arrow_button_a {
    text-decoration: none;
}

@media (max-width: 35rem) {
    .arrow_button {
        width: 2.5rem;
        height: 2rem;
        background-color: var(--darker1);
    }
}
