@use "./../../../../../../css/sass.module" as *;

.body_div {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    width: 100%;

    .main_div {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        margin: 2rem 0;

        width: clamp(20rem, 90%, 50rem);
        background-color: var(--main_white);
        box-sizing: border-box;
        height: fit-content;

        padding: 2rem 2rem;
        border-radius: 1rem;

        .block {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .block_header {
                font-size: 1.5rem;
                line-height: 1.1;
            }

            .block_body {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;

                .current_div {
                    display: flex;
                    flex-direction: column;
                    gap: 0.2rem;

                    font-size: 1rem;
                    font-weight: 450;
                    line-height: 1.1;
                }

                .subscription_div {
                    padding: 0.2rem 0.6rem;
                    line-height: 1.1;
                    background-color: var(--darker1);
                    border-radius: 0.6rem;
                    font-size: 0.9rem;
                    font-weight: 450;
                }

                .transaction_link {
                    width: fit-content;

                    button {
                        @extend .empty_button;

                        font-size: 1.2rem;
                        font-weight: 500;
                        color: var(--input_border);
                    }
                }
            }
        }

        .button_div {
            display: flex;
            justify-content: flex-end;
        }

        .note {
            line-height: 1.1;
            font-size: 0.9rem;
            font-weight: 450;
            color: #494949;
            text-align: justify;

            &.alert {
                color: #0a65db;
            }
        }
    }
}

@media (max-width: 36rem) {
    .body_div {
        .main_div {
            width: 95svw;
            padding: 1rem;
        }
    }
}
