.header_div {
    display: grid;
    grid-template-areas: "name dates";
    grid-template-columns: 18rem 18rem;
    column-gap: 2rem;

    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--main_white);

    .header {
        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.3rem 0.6rem;
        background-color: var(--darker1);
        border-radius: 0.5rem;
    }

    .payslip_name {
        grid-area: name;

        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    .dates {
        grid-area: dates;

        .period {
            grid-area: period;

            height: min-content;

            .picker {
                width: max-content;
                > div {
                    justify-content: flex-start;
                }
            }
        }

        .date {
            grid-area: date;

            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }

        .text {
            grid-area: text;

            font-size: 0.9rem;
            line-height: 1rem;
            color: #585858;
        }
    }
}

@media (max-width: 77rem) {
    .header_div {
        grid-template-areas:
            "name"
            "dates";
        grid-template-columns: auto;
        row-gap: 2rem;
    }
}
