.submit_button {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;

    background-color: var(--n_b);
    color: #00044d;
    padding: 0.5rem 0.5rem;

    border: none;
    border-radius: 0.5rem;

    height: 2rem;
    box-sizing: border-box;

    transition:
        background-color 0.2s linear,
        color 0.2s linear;

    &:hover:enabled {
        cursor: pointer;
        box-shadow: 1px 1px 5px 0px #c9c9c9;
        transition: box-shadow 0s;
    }

    &:disabled {
        cursor: default;
        background-color: #d1d1d1;
        color: #575757;
    }
}

.spinner {
    width: 2rem;
    height: 2rem;
    border: 0.2rem solid #0000001a;
    border-top: 0.2rem solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    box-sizing: border-box;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
