.body_div {
    display: flex;
    justify-content: center;
    flex-grow: 1;

    width: 100%;
    background-color: var(--main_white);

    .main_div {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        margin: 2rem 0;

        width: clamp(20rem, 90%, 25rem);
        box-sizing: border-box;

        padding: 2rem;
        border-radius: 1rem;

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 8rem;
        }

        .header {
            font-size: 1.4rem;
            font-weight: 450;
        }

        .text {
            font-size: 0.95rem;
            line-height: 1.2;
            color: #444444;
            text-align: justify;
        }

        .button_div {
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media (max-width: 36rem) {
    .body_div {
        .main_div {
            width: 95svw;
            padding: 1rem;
        }
    }
}
